pager = "less -R"
encryption = "age"

[add]
    secrets = "error"

[edit]
    apply = true

[git]
    autoCommit = true
    autoPush = true

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1lf6lngwdl9y34n2368zauncl6dzmcjnre20n0tukk0ljmafzsqhqnfp4zc"

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]
