pager = "less -R"
encryption = "gpg"

[add]
    secrets = "error"

[edit]
    apply = true

[git]
    autoCommit = true
    autoPush = true

[gpg]
    recipient = "wjkoh005@gmail.com"

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]
