#!/bin/sh

if [ ! -f "/Volumes/SSD/Users/edmund/.config/chezmoi/key.txt" ]; then
    mkdir -p "/Volumes/SSD/Users/edmund/.config/chezmoi"
    chezmoi age decrypt --output "/Volumes/SSD/Users/edmund/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/Volumes/SSD/Users/edmund/.config/chezmoi/key.txt"
fi
